<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Recipes</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700">

    <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
    <meta name="msapplication-TileColor" content="#ddd">
    <meta name="msapplication-TileImage" content="/images/favicon-144.png">

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.innerHTML = MarkFractions(document.body.innerHTML);
            document.body.innerHTML = MarkSmallCaps(document.body.innerHTML);
        });

        function MarkFractions(text) {
            var regex = /([\s>])([0-9]\/[0-9])(?=[\s<])/g;
            return text.replace(regex, '$1<span class="fraction">$2</span>');
        }

        function MarkSmallCaps(text) {
            var regex = /(<abbr>)(am|pm|ad|bc|[a-z]{4,})(<\/abbr>)/ig;
            return text.replace(regex, '<abbr class="small-caps">$2$3');
        }
    </script>
</head>
<body>
    <header role="banner">
        <h1 class="site-title">Recipes</h1>
    </header>

    <main>
        <article vocab="http://schema.org/" typeof="Recipe">
            <h1 property="name">{{name}}</h1>
            By <span property="author">{{author}}</span>,
            <meta property="dateModified" content="{{datemodified}}">{{datemodified}}</meta>
            <img property="image" src="{{image}}" />
            
            Yield: <span property="recipeYield">{{yield}}</span>
            Ingredients:
            <ul>
            {{#ingredients}}
                <li property="ingredients">{{.}}</li>
            {{/ingredients}}
            </ul>
            
            Instructions:
            <ol property="recipeInstructions">
            {{#instructions}}
                <li>{{.}}</li>
            {{/instructions}}
            </ol>
            
            <span property="description">{{comments}}</span>
            
            <span property="keywords">{{keywords}}</span>
        </article>
    </main>
    
    <footer role="contentinfo">
        <small>
            Creative Commons stuff. 
            Recipes compiled by Melissa Koser. Website created by <a href="http://briankoser.com">Brian Koser</a>.
        </small>
    </footer>
</body>
</html>
